extends layout

block content
  h1= title
  p 1+1 Tool
  a(href='/newuser') add user
  hr
  a(href='/updateuser') update user
  hr
  a(href='/removeuser') remove user
  hr
  a(href='/removeteam') remove team
  hr
  a(href='/userlist') see matches