
extends layout

block content
	h1= title
	form#formAddUser(name="adduser",method="post",action="/adduser")
		input#inputUserName(type="text", placeholder="name", name="username")
		input#inputUserEmail(type="text", placeholder="email", name="useremail")
		br
		textarea#inputUserTeams(type="text", placeholder="separate teams by commas!", name="userteams")
		br
		button#btnSubmit(type="submit") submit